@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Nunito", ui-sans-serif, system-ui, sans-serif;
  color: #27303f;
  background: #fcfbf8;
}

a {
  text-decoration: none;
}
